<div id='container'>
  <!-- Your html here -->
  <div ng-controller='LinksController' class='row'>
    <nav class="navbar" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header"></div>
      </div>
    </nav>
    <div class='navigation col-md-4'>
      <a href="/#/shorten">Shorten Links</a>
    </div>
    <div class='col-md-4 col-md-offset-4'>
      <input type='text' placeholder='Search' ng-model='searchBy'/>
    </div>
  </div>
  <div>
    <card ng-repeat="link in data.links | orderBy: 'visits': false | filter: searchBy" link='link'></card>
  </div>
</div>









<!--     <ul>
      <li class='link' ng-repeat="links in data.links | orderBy: 'visits': false | filter: searchBy">
        <a ng-href="{{ links.base_url + '/api/links/' + links.code}}">{{ links.title }}</a>
      </li>
    </ul>
 -->