<div id='container'>
  <!-- Your html here -->
    <nav class="navbar navbar-primary" role="navigation">
      <a class="navbar-brand" ui-sref="shorten">Shortly</a>
      <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
              <a ui-sref="shorten">Shorten Links</a>
            </li>
            <li class="active">
              <a ui-sref="links">My Links</a>
            </li>
          </ul>
          <form class='navbar-form navbar-right' role="search">
            <div class='form-group'>
              <input class="form-control" type='text' placeholder='Search' ng-model='searchBy'/>
            </div>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <card ng-repeat="link in data.links | orderBy: 'visits': false | filter: searchBy" link='link' class='fx-zoom-normal fx-speed-800 card col-md-6 col-md-offset-3'></card>
    </div>
</div>