<div id='signin'>
    <h1>Sign In</h1>
    <form name="signinForm" class='form-horizontal' role='form'  ng-submit='signin()'>
      <div class='form-group'>
        <label for='username' class="col-sm-2 control-label">Username</label>
        <div class="col-sm-4">
          <input type='text' ng-model='user.username' name='username' ng-class='{error: signinForm.username.$invalid && siginForm.$dirty}' class='form-control' required>
        </div>
      </div>
      <div class='form-group'>
        <label for='password' class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
          <input type="password" ng-model='user.password' class='form-control' id='password' required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button ng-disabled='signinForm.$invalid' class="btn btn-default">Sign in</button>
          <a href="#/signup">Don't have an account?</a>
        </div>
    </form>
</div>

<!-- <div id='signin'>
    <h1>Sign In</h1>
    <form name="signinForm" ng-submit='signin()' novalidate>
      <input type='text' ng-model='user.username' name='username' ng-class='{error: signinForm.username.$invalid && siginForm.$dirty}' class='form-control' required>
      <input type="password" ng-model='user.password' required>
      <button ng-disabled='signinForm.$invalid'>Sign In</button>
    </form>

    <a href="#/signup"> Sign Up ...</a>
</div> -->